.popup {
  width: 400px;
}

.popup__title {
  font-size: 18px;
  line-height: 26px;
  color: $base-text-color;
  text-align: center;
}

.popup__message {
  text-align: center;
}

.popup--failure{
  width: 270px;
}

.popup--success {
  width: 640px;
}

.popup__btn {
  padding: 16px 47px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: $secondary-background;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin: 0 auto;
}

.popup__closebg {
  padding: 20px;
  background-color: #f2f2f2;
}
